<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Mount_and_Blade_Server_Panel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Mount_and_Blade_Server_Panel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
      <add name="Mount_and_Blade_Server_Panel.Properties.Settings.SettingsConnectionString"
          connectionString="data source=&quot;Settings.db&quot;" providerName="System.Data.SQLite" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <Mount_and_Blade_Server_Panel.Properties.Settings>
        <setting name="ModulesLocation" serializeAs="String">
            <value />
        </setting>
        <setting name="ServerExeLocation" serializeAs="String">
            <value />
        </setting>
        <setting name="ConfigName" serializeAs="String">
            <value>serverconfig.mbconf</value>
        </setting>
        <setting name="SteamServerExeLocation" serializeAs="String">
            <value />
        </setting>
        <setting name="InstallFolder" serializeAs="String">
            <value />
        </setting>
        <setting name="ServerVersion" serializeAs="String">
            <value>0</value>
        </setting>
    </Mount_and_Blade_Server_Panel.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <Mount_and_Blade_Server_Panel.Properties.Settings>
        <setting name="Debug" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="DownloadURI" serializeAs="String">
            <value>https://s3.amazonaws.com/mountandbladeserverpanel/latest/mb_warband_dedicated_1171.zip</value>
        </setting>
        <setting name="ServerExeName" serializeAs="String">
            <value>mb_warband_dedicated.exe</value>
        </setting>
    </Mount_and_Blade_Server_Panel.Properties.Settings>
  </applicationSettings>
</configuration>